In [2]:
from sqlalchemy import create_engine
import os
import psycopg2
from sqlalchemy import inspect
import pandas as pd
import pyarrow

In [3]:
%load_ext sql

In [4]:
#database cs425 server_name: data2bot
# host = "localhost"
# database = "cs425"
# user = "postgres"
# password = "test"

#database ny_taxi server_name: datacamp
host = "localhost"
database = "ny_taxi"
user = "root"
password = "root"

In [5]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [6]:
connection_string

'postgresql://root:root@localhost/ny_taxi'

In [7]:
%sql $connection_string

In [8]:
%%sql

SELECT * from department

 * postgresql://root:***@localhost/ny_taxi
(psycopg2.errors.UndefinedTable) relation "department" does not exist
LINE 1: SELECT * from department
                      ^

[SQL: SELECT * from department]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [9]:
%sql postgresql://root:root@localhost:5432/ny_taxi

In [10]:
engine = create_engine(connection_string)

In [11]:
engine.connect()

In [12]:
insp = inspect(engine)

In [13]:
insp.get_table_names()

[]

In [ ]:
df1 = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')

In [ ]:
df1.to_csv('new_taxi_data.csv', index=False)

In [16]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [17]:
df_iter = pd.read_csv('new_taxi_data.csv', iterator=True ,chunksize=100000)

In [18]:
df_iter

In [19]:
df =next(df_iter)

In [21]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [20]:
len(df)

100000

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [24]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [25]:
from time import time

In [ ]:
df2 = pd.read_csv('new_taxi_data.csv', nrows=100)
df2.head()

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 298.651 second
inserted another chunk, took 289.764 second
inserted another chunk, took 273.928 second
inserted another chunk, took 318.729 second

In [ ]:
#so df.to_sql does have a parameter called chunksize....so I am suppose to use this code
df_all = pd.read_csv('new_taxi_data.csv')
df_all.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', chunksize=100000)

In [27]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-06-15 03:57:11--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com... 52.217.90.6
Connecting to s3.amazonaws.com|52.217.90.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 12.1M=0.001s

2022-06-15 03:57:17 (12.1 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [28]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [29]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [30]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')