In [7]:
from sqlalchemy import create_engine
import os
import psycopg2
from sqlalchemy import inspect
import pandas as pd
import pyarrow

In [ ]:
%load_ext sql

In [3]:
# database cs425 server_name: data2bot
# host = "localhost"
# database = "cs425"
# user = "postgres"
# password = "test"

# #database ny_taxi server_name: datacamp
host = "localhost"
database = "ny_taxi"
user = "root"
password = "root"

In [4]:
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

In [10]:
engine =create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [ ]:
connection_string

In [ ]:
%sql $connection_string

In [ ]:
%%sql

SELECT * from department

In [ ]:
%sql postgresql://root:root@localhost:5432/postgres

In [5]:
engine = create_engine(connection_string)

In [11]:
engine.connect()

In [ ]:
insp = inspect(engine)

In [ ]:
insp.get_table_names()

In [ ]:
df1 = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')

In [ ]:
df1.to_csv('new_taxi_data.csv', index=False)

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
df_iter = pd.read_csv('new_taxi_data.csv', iterator=True ,chunksize=100000)

In [ ]:
df_iter

In [ ]:
df =next(df_iter)

In [ ]:
df.head()

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
from time import time

In [ ]:
df2 = pd.read_csv('new_taxi_data.csv', nrows=100)
df2.head()

In [ ]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [ ]:
#so df.to_sql does have a parameter called chunksize....so I am suppose to use this code
df_all = pd.read_csv('new_taxi_data.csv')
df_all.to_sql(name='yellow_taxi_data', con=engine, if_exists='append', chunksize=100000)

In [ ]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')